@using Admin.Models.DbModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="https://softuni.bg/" target='blank'>Software University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new { Class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Create Event", "Index", "Event", null, new { Class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("All Events", "ViewAll", "Event", null, new { Class = "nav-link" })
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div id="watch" class="nav-link coursor" onclick="startTime()">Show time</div>
                    <script>
                        function startTime() {
                            let today = new Date();
                            let h = today.getUTCHours();
                            let m = today.getUTCMinutes();
                            let s = today.getUTCSeconds();
                            m = checkTime(m);
                            s = checkTime(s);
                            document.getElementById('watch').innerHTML = h + ":" + m + ":" + s;
                            var t = setTimeout(startTime, 500);
                        }

                        function checkTime(i) {
                            if (i < 10) {
                                i = "0" + i;
                            };

                            return i;
                        }
                    </script>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { Class = "nav-link" })
                </li>
            </ul>
        }
        else
        {
            @Html.ActionLink("Log in", "Login", "Account", null, new { Class = "nav-link" })
        }
    </div>
</nav>


